{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h2>Ваша корзина</h2>
    <table class="carts" width="95%">
	    <col style="width:20%">
	    <col style="width:16%">
	    <col style="width:16%">
		<col style="width:16%">
	    <col style="width:16%">
	    <col style="width:16%">	
        <thead>
        <tr bgcolor="#DB7093	" height="60px">		    
            <td class="col">Фото</td>
            <td class="col">Наименование</td>
            <td class="col">Количество</td>
            <td class="col">Удалить</td>
            <td class="col">Цена за единицу</td>
            <td class="col">Итоговая стоимость</td>			
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr class="total2" bgcolor="#FAEBD7" height="285px" >
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    <td class="num"> BYN {{ item.price }}</td>
                    <td class="num"> BYN {{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total" bgcolor="#DB7093	" height="60px">
            <td>Всего</td>
            <td colspan="4"></td>
            <td class="num"> BYN {{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">Продолжить покупки</a>
        <a href="#" class="button">Проверить</a>
    </p>
{% endblock %}

