{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}

    <p class="basket-title">Ваша корзина</p>
	<div class="backet-table">
	  <table class="detail-cart">
	    <tr class="table-top">
		  <td class="column-name" colspan="3">Наименование</td>
		  <td class="column-sum">Сумма, бел.руб.</td>
	    </tr>
		{% for item in cart %}
		  {% with product=item.product %}
		    <tr>
			  <td class="column-quantity">
			    {{ item.quantity }}
				<span>x</span> 
			  </td>
			  <td class="column-product">
			    <a href="{{ product.get_absolute_url }}">
			      {{ product.name }}
			    </a>
			  </td>
			  <td class="column-delete">
			    <a href="{% url "cart:cart_remove" product.id%}">Удалить</a>
			  </td>
			  <td class="column-price">
			    {{ item.total_price }} BYN
			  </td>
			</tr>	  
	      {% endwith %}
		{% endfor %}
		<tr class="table-bottom">
		  <td class="column-name" colspan="3">Итоговая сумма</td>
		  <td class="column-price-all">{{ cart.get_total_price }} BYN</td>
		</tr>
	  </table>
	</div>
	<div class="basket-botton">
	  <a href="{% url "orders:order_create" %}"><input class="add-basket basket-botton-buy" type="submit" value="Оформить заказ"></a>
	  <a href="{% url "shop:product_list" %}"><input class="add-basket basket-botton-menu" type="submit" value="Продолжить покупки"></a>	  	  
    </div>
{% endblock %}

