{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div class="product-list">	
        <div class="product-list-menu">{% if category %}{{ category.name }}{% else %}Все{% endif %}</div>
        {% for product in products %}		
          <div class="product-list-item">		        				
            <a href="{{ product.get_absolute_url }}">
              <img width="265" height="265" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "shop/img/no_image.png" %}{% endif %}">
            </a>
		    <div class="product-description">
              <a class="product-description-name" href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
			  <div class="product-description-price">{{ product.price }} BYN</div>
			</div>
		  </div>	  
        {% endfor %}
    </div>
{% endblock %}
