{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <br><h2 class="cart1">Оформление заказа</h2>
    <div class="order-info">
        <h3>Ваш заказ</h3>
		<ul>
            {% for item in cart %}
                <li>				
                    {{ item.quantity }} x {{ item.product.name }}
					<span>{{ item.total_price }} BYN</span>
                </li>
            {% endfor %}
        </ul>
        <p>Итог: {{ cart.get_total_price }} BYN</p>
    </div>
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p class="input1"><input type="submit" value="Оформить заказ"></p>
        {% csrf_token %}
    </form>
{% endblock %}